html,body{
    height: 100%;

}
/* .border-blue{
    border: 6px solid rgba(140, 204, 244, 0.7);
    width: 33.9%;
    width: 645.781px;
    border-radius: 8px 8px 0 0;
    position: absolute;
    top: 0;
} */
.container{
    background-color: rgba(140, 204, 244, 0.1);
    /* min-height: calc(100vh - 96px); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    text-align: left;
    margin-right: 30%;
    margin-bottom: 3%;
}
.team-c-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    /* width: 34.5%; */
    width: 655.219px;
    border-top: none;
    height: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;

    box-shadow: 0px -6px 0px rgba(140, 204, 244, 0.7);
}
.team-img{
    width: 45px;
    position: absolute;
    top: 25.5%;
    left: 35%;
}
.noti{
    width: 30px;
}
strong{
    font-size: 16px;
}
.team-c-form{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}
.team-c-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 34.5%; */
    width: 655.219px;

    height: 100%;
    margin-bottom: 3%;
}
/* img */
.first-img-box{
    width: 100%;
    border: 1px solid #eee;
    border-radius: 8px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    font-size: 13px;
    font-weight: 300;
}
span{
    margin-top: 5%;
}
/* 구성요소 */
h2{
    font-size: 16px;
    font-weight: 400;
}
.text-box{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.button-box{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.btn-box{
    display: flex;
    justify-content: center;
}
.team-c-input{
    border: none;
    border-bottom: 1px solid #eee;
    width: 50%;
    margin-top: 4.5%;
    /* margin-bottom: 4.5%; */
}
.submit-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.submit{
    border-radius: 4px;
    border: none;
    background-color: #fff;
    width: 80px;
    height: 35px;
    box-shadow: 2px 2px 2px #eee;
    color:#9162E4;
}
.reset{
    color:#9162E4;
    font-size: 14px;
}

.button-box button:first-child{
    margin-right: 10px;
}

.button-box button:active, button:focus {
    background-color: rgb(31, 106, 125);
    color: white;
  }

/* @media screen and (max-width: 1920px) {
    .border-blue {
      width: 100%;
    }
    .team-c-title {
      width: 100%;
    }
    .team-c-main {
      width: 100%;
    }
    .text {
      margin-right: 0;
    }
  }
   */