<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pofo.pofoapiboot3.repository.PortfolioRepository">
    <resultMap id="portfolioViewResultMap" type="PortfolioView">
        <result property="memberId" column="member_id" />
        <result property="regDate" column="reg_date" />
        <result property="deleteDate" column="delete_date" />
        <result property="likeCount" column="like_count" />
    </resultMap>

    <select id="findViewAll" resultMap="portfolioViewResultMap">
        select *
        from index_portfolio_view
        where
        <choose>
            <when test="collaboration == 0">
                collaboration = 0
            </when>
            <when test="collaboration == 1">
                collaboration = 1
            </when>
            <otherwise> <!-- 협업여부 디폴트 == 전체 -->
                1 = 1
            </otherwise>
        </choose>
        <choose>
            <when test="sort == '좋아요순'">
                ORDER BY like_count DESC
            </when>
            <otherwise> <!-- 정렬방식 디폴트 == 최신순 -->
                ORDER BY reg_date DESC
            </otherwise>
        </choose>
        <if test="offset != null">
			limit #{size} offset #{offset}
		</if>
    </select>

</mapper>