@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR', sans-serif;
}


.input-text {
    border-radius: 27px;
    background: #fff;
    border: 1px solid #eee;
    width: 260px;
    height: 40px;
    margin-top: 2%;
    /* opacity: 10%; */
}

.input-text-placeholder {
    color: grey;
    opacity: 50%;
    text-indent: 10px;
}



button,
input[type="submit"],
input[type="button"] {
    cursor: pointer;
}




